*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-position: center top 160px;
    background-repeat: no-repeat;
    background-size: 35%;
    
}

:root{
    --textocentralizado:"center";
    --bordacustomizada: 4px dashed blue;
    --bordacheddar:4px solid blue;
}

img#hero{
    /* margin-top: 20px;
    
    margin-right: 30px;*/
    width: 120px;
    border: var(--bordacustomizada);
    border-radius: 50%;
}

header a img{
    width: 30px;
    
    height: 30px;
}

header{
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color:burlywood;
}

footer{
    display: flex;
    background-color: burlywood;
    bottom: 0px;
    height: 50px;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-evenly; 
}

nav ul{
    justify-content: space-evenly;
    display: flex;
    list-style:none;
    background-color:brown;
    border: var(--bordacheddar);
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: black;
}

main{
    top: 0%;
    text-align:left;
    margin:30px;
}

main p#primeiro{
    text-align:end;
    color:blueviolet;
    
}

.flex{
    display: flex;
    justify-content: space-between;
}

.mt-10{
    margin-top: 10px;
    margin-left: 20px;
}

footer img{
    height: 200px;
    bottom: 20px;
}

.justificado{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.ajusta{
    margin-bottom: 50%;
}